html {
  margin: 150px auto;
  height: 100%;
}
body {
  background-color: #f9f9f9;
  font-family: 'Readex Pro', 'Times New Roman', Times, serif;
  height: 420px;
}

/* SECTION 1: OUTSIDE CALCULATOR CONTAINER */
.calculator-container {
  width: 250px;
  background-color: white;
  display: block;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

/* SECTION 2: CALCULATION SCREENS */
.calculation-screens {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
  height: 80px;
  padding: 20px 20px 20px 20px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
}

.calculation-tracker {
  color: #a5b1c2;
  font-size: 16px;
}

.calculation-results {
  color: #4b6584;
  font-size: 30px;
}

/* SECTION 3: NUMBERPAD */
.grid-container {
  display: grid;
  grid-template-columns: auto 61.5px 61.5px 61.5px;
}

.grid-container > .button {
  background-color: #ffffff;
  padding: 18px 0;
  text-align: center;
  font-size: 16px;
}

.button-lg {
  grid-column: 1 / 3;
}

.button {
  border: 1px solid #e8e8e8;
  color: #8e8e8e;
  cursor: pointer;
}

.button:hover {
  filter: brightness(98%);
}

.button:active {
  filter: brightness(90%);
}

.button-inner {
  border-left: 1px solid #e8e8e8;
}

.button-right {
  border-left: 1px solid #e8e8e8;
}

#clear {
  color: white;
  background-color: #fd716a;
}

#clear:hover {
  filter: brightness(97%);
}

#clear:active {
  filter: brightness(92%);
}

#divide {
  color: #04c3ab;
}

#multiply {
  color: #3bbeef;
}

#minus {
  color: #f9965b;
}

#add {
  color: #c77de6;
}

#equal {
  color: white;
  background-color: #04c3ab;
}

#equal:hover {
  filter: brightness(97%);
}

#equal:active {
  filter: brightness(92%);
}

/* SECTION 4: FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#github {
  font-size: 26px;
  color: #424242;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
